/* DiaryCalendar.css */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.calendar-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.arrow-button {
    background-color: #1a2c5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.calendar-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
}

.highlighted {
    background: #1a2c5c;
    color: white;
}
